**/output/
.DS_Store
*.mp4
*.png
*.obj
*.ply
*.ini
*.pyc
.idea
**/__pycache__/
**/ply_output/
**/mesh_output/

# LaTeX
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.lof
*.lot
*.dvi
*.ps
*.nav
*.snm
*.vrb